<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HTML - Formulário Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<style> 
	        body { padding-top: 4.5rem; } 
	    </style>
</head>
<body>
	
	<div th:replace="fragments/menu :: menu"></div>

    <div class="container">
        <div class="bg-light p-5 rounded">
	    <h1>Dados Fornecedor</h1>
	    <hr>
	    <div>
	        <form th:action="@{/fornecedores}" th:object="${fornecedor}" method="post">
	
	            <input id="fornecedorId" type="hidden" th:field="*{id}" />
	
	            <div class="mb-3 form-check form-switch">
	                <label class="form-check-label" for="ativo">Registro ativo</label>
	                <input class="form-check-input" id="ativo" type="checkbox" th:field="*{ativo}" />
	            </div>
	
	            <div class="mb-6">
	                <label class="form-label" for="razaoSocial">Razão Social</label>
	                <input class="form-control" id="razaoSocial" type="text" th:field="*{razaoSocial}" />
	                <span style="color: red" th:if="${#fields.hasErrors('razaoSocial')}"th:errors="*{razaoSocial}" ></span>
	            </div>
	            
	             <div class="mb-6">
	                <label class="form-label" for="nomeFantasia">Nome Fantasia</label>
	                <input class="form-control" id="nomeFantasia" type="text" th:field="*{nomeFantasia}" />
	                <span style="color: red" th:if="${#fields.hasErrors('nomeFantasia')}"th:errors="*{nomeFantasia}" ></span>
	            </div>
	
	            <div class="row">
	            	<div class="col-4 mb-3" >
	                	<label class="form-label" for="cnpj">CNPJ</label>
	                	<input class="form-control" id="cnpj" type="text" th:field="*{cnpj}" />
	                	<span style="color: red" th:if="${#fields.hasErrors('cnpj')}"th:errors="*{cnpj}" ></span>
	                </div>
			</div>
	            <div class="row">
	            <div class="col-3 mb-3">
	                <label class="form-label" for="telefone">Telefone</label>
	                <input class="form-control" id="telefone" type="text" th:field="*{telefone}" />
	            </div>
	
	            <div class="col-3 mb-3">
	                <label class="form-label" for="celular">Celular</label>
	                <input class="form-control" id="celular" type="text" th:field="*{celular}" />
	            </div>
	
	            <div class="col-6 mb-3">
	                <label class="form-label" for="email">E-mail</label>
	                <input class="form-control" id="email" type="text" th:field="*{email}" />
	                <span style="color: red" th:if="${#fields.hasErrors('email')}"th:errors="*{email}" ></span>
	                
	            </div>
				</div>
	            <div class="mb-3" >
	                <input class="btn btn-primary" type="submit" value="Salvar" />
	            </div>
	            
	        </form>
	    	</div>
    	</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    
    <script type="text/javascript"> 
    $(document).ready(function(){
        console.log("jQuery carregado e pronto.");      	
     	$('#cpf').mask('999.999.999-99'); 
        $('#telefone').mask('(99) 9999-9999'); 
        $('#celular').mask('(99) 99999-9999'); 
     });
    </script>
    </body>
</html>